header {
    .header-contact-info {
      display: flex;
      justify-content: flex-end;
      padding: 10px 0;
      gap: 15px;
    }
    .header-nav-menu-container {
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
          .header-logo {
            a {
              img {
                height: 50px;
              }
            }
          }
          .header-nav-menu {
            display: flex;
            align-items: center;
            .header-nav-menu-item-cat {
              padding-right: 20px;
              position: relative;
              a {
                text-decoration: none;
              }
              .header-menu-dropdown {
                display: none;
              }
              &:hover {
                .header-menu-dropdown {
                  position: absolute;
                  display: flex;
                  flex-direction: column;
                }
              }
            }
          }
          .header-actions-icons {
            display: flex;
            align-items: center;
            .header-search {
              @import "search";
            }
            .header-cart {
              padding-left: 20px;
              object {
                width: 30px;
                height: 30px;
              }
            }
            .header-hambureger-menu {
              cursor: pointer;
              padding-left: 20px;
              object {
                width: 30px;
                height: 30px;
              }
            }
          }
    }
}


